body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2)

}

h1{
    text-align: center;
    color: black;
}

.search {
    text-align: center;
    margin-bottom: 15px;
}