body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ead2ac;
    margin: 0;
    padding: 0;
}

header{
    background-color: #7BAFD4;
    padding:20px;
}
h1, #today-date {
    text-align: center;
    color: black;
}
/* .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2)

} */

.main-row{
    width: 100vw;
   justify-content: space-between;
}

form{
    margin-top: 3vh;
    margin-left: 2vw;
}
#search-btn{
    background-color: #4281a4;
    color:#e5e5e5
}
.search-history{
    display:flex;
    flex-direction: column;
    gap: 2vh;
    width: 10vw;
    margin-top: 2vh;
    margin-left: 2vw;
}
.history-btn{
    background-color: #a5be00;
    color:whitesmoke;
}

.col-md-9{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-card{
    width: 43vw;
    margin-left: 15vw;
    margin-top: 3vh;
}

.main-body p{
    font-size: 1.4rem;
    margin-left: 4vw;
}

.forecast{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 3vh;
}

h5, h2{
    text-align: center;
}

.card-header{
    background-color: #7BAFD4;
    color: whitesmoke;
}

.card-body{
    background-color: #ebf2fa;
    color: #353839;
}

.labels{
    font-weight: bold;
    color: #353839;
}
/* .search {
    text-align: center;
    margin-bottom: 15px;
} */

/* #cityInput {
    padding: 5px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
} */