body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ead2ac;
    margin: 0;
    padding: 0;
}

header{
    background-color: #7BAFD4;
    padding:20px;
}
/* .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2)

} */

form{
    margin-top: 3vh;;
}
#search-btn{
    background-color: #4281a4;
    color:#e5e5e5
}

h1{
    text-align: center;
    color: black;
}

/* .search {
    text-align: center;
    margin-bottom: 15px;
} */

/* #cityInput {
    padding: 5px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
} */